{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello {{ name }}!</h1>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at hic ipsam maiores minus natus neque recusandae rerum saepe vitae? Illo mollitia non provident rerum? Architecto corporis harum in nobis?

    <div>
    <a href="{{ path("my-name")}}">Show My Name</a>
    </div>
{% endblock %}